COMPOSE_PROJECT_NAME=pensionat
TZ=Europe/Stockholm

FRONTEND_HOST_PORT=3000
BOOKING_SERVICE_HOST_PORT=8080
CUSTOMER_SERVICE_HOST_PORT=8081

BOOKING_DB_HOST_PORT=3308
BOOKING_DB_NAME=pensionat_booking_db
BOOKING_DB_USERNAME=pensionat_booking
BOOKING_DB_PASSWORD=booking_local_password_2026
BOOKING_DB_ROOT_PASSWORD=booking_root_password_2026

CUSTOMER_DB_HOST_PORT=3307
CUSTOMER_DB_NAME=pensionat_customer_db
CUSTOMER_DB_USERNAME=pensionat_customer
CUSTOMER_DB_PASSWORD=customer_local_password_2026
CUSTOMER_DB_ROOT_PASSWORD=customer_root_password_2026